# Python
*.pyc
*~
__pycache__

# Env
myvenv/
venv/
.env

# Database
# db.sqlite3 (In reality you would want to hide the database but since this is not run on an actual server, it does not matter.)

# Static folder at project root

# macOS
._*
.DS_Store
.fseventsd
.Spotlight-V100

# Windows
Thumbs.db*
ehthumbs*.db
[Dd]esktop.ini
$RECYCLE.BIN/

# Visual Studio
.vscode/
.history/
*.code-workspace